.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.wrap{
  padding:10rem;
  
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.clock{
  color: white;
  background-color: black;
  width: 500px;
  display: flex;
  border-radius: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 5px gray;
  
}
.clock h1{
  color:white;
  font-size: 50px;
  animation: glow 1000ms infinite alternate;

}

@keyframes glow{
  from{
    text-shadow: 0 0 10px rgb(209, 225, 236),
                 0 0 20px rgb(110, 177, 182),
                 0 0 30px rgb(30, 151, 149);
  }
  to{
    text-shadow: 0 0 5px rgb(209, 225, 236),
                 0 0 10px rgb(110, 177, 182),
                 0 0 15px rgb(30, 151, 149);
                

  }
}

.clock h2{
  text-shadow: 0 0 10px rgb(209, 225, 236),
                 0 0 20px rgb(110, 177, 182),
                 0 0 30px rgb(30, 151, 149);

}